__pycache__/
trainngClass
my_site

my_env/Scripts/python.exe
mysite/manage.py
mysite/mysite/asgi.py
mysite/mysite/urls.py
mysite/mysite/wsgi.py
mysite/mysite/settings.py
mysite/mysite/__init__.py
mysite/db.sqlite3
blog
mysite/tempCodeRunnerFile.py
tempCodeRunnerFile.python
mytestsite
Function/FunctionWithTime.py
Funkction/FunctionWithTime.py
django_projects/locallibrary/manage.py
django_projects/locallibrary/locallibrary/__init__.py
django_projects/locallibrary/locallibrary/settings.py
django_projects/locallibrary/locallibrary/asgi.py
django_projects/locallibrary/locallibrary/urls.py
django_projects/locallibrary/locallibrary/wsgi.py
locallibrary
ATM/tempCodeRunnerFile.py
